:root {
    --primary-color: #EE4D2D;
    --white-color: #fff;
    --black-color: #000;
    --text-color: #333;
    --border-color: #dbdbdb;
    --navbar-height: 34px;
    --header-height: 132px;
    --header-with-search-height: calc(var(--header-height) - var(--navbar-height));
    --star-gold-color: #FFCE3E
}

* {
    box-sizing: inherit;
}

html {
    /* Mặc định 16px */
    font-size: 62.5%;
    line-height: 1.6rem;
    font-family: 'Roboto', sans-serif;
    box-sizing: border-box;
}

/* Set kích thước hiển thị */

/* Responsive */

.grid {
    width: 1400px;
    max-width: 100%;
    margin: 0 auto;
}

/* Trong trường hợp ko muốn sử dụng width 1200px */

.grid__full-width {
    width: 100%;
}

/* Những thằng được chứa trong class này sẽ được nằm trong hàng ngang */

.grid__row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -5px;
    margin-right: -5px;
}

/* Test */

.grid__column-2 {
    padding-left: 5px;
    padding-right: 5px;
    width: 13.666%;
}
.grid__column-2-4{
    padding-left: 5px;
    padding-right: 5px;
    width: 20%;
}
.grid__column-10 {
    padding-left: 5px;
    padding-right: 5px;
    width: 83.3334%;
}

/* Animation */

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes growth {
    from {
        transform: scale(var(--growth-from));
    }
    to {
        opacity: scale(var(--growth-to));
    }
}

/* Modal */

.modal {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    display: flex;
}

.modal__overlay {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
}

.modal__body {
    --growth-from: 0.7;
    --growth-to: 1;
    background-color: var(--white-color);
    border-radius: 2px;
    margin: auto;
    z-index: 1;
    animation: growth linear 0.2s;
}

/* Button style */

.btn {
    min-width: 142px;
    height: 34px;
    border: none;
    border-radius: 3px;
    font-size: 1.3rem;
    padding: 0;
    cursor: pointer;
    color: var(--text-color);
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 0 8px;
}

.btn.btn--normal:hover {
    background-color: rgba(0, 0, 0, 0.1);
}

.btn.btn--primary {
    color: var(--white-color);
    background-color: var(--primary-color);
}

.auth-form__social-title {
    margin: 0 24px;
}
/*  selection*/
.select-input{
    height: 34px;
    padding: 0 12px;
    border-radius: 2px;
    background-color: #fff;
    min-width: 120px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}